@import '../theme/base.scss';

.socialContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  svg {
    fill: $secondary-color;
    padding: 2rem;
  }
  a {
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}