<div ng-controller="ContactCtrl">
   <form name="contactform" action="" role="form">
    <div class="row">
        <div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon"></span>
            <input ng-model="formData.inputName" type="text" class="form-control" placeholder="Your Name" name="inputName" required>
            <span ng-show="(contactform.inputName.$touched && contactform.inputName.$invalid) || (submitted && contactform.inputName.$invalid)" class="validation-error">Please fill in with your name<span>
        </div>
      </div>
    </div>
    <div class="row">
        <div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon"></span>
            <input ng-model="formData.inputEmail" type="email" class="form-control " placeholder="Your Email" name="inputEmail" required>
            <span ng-show="(contactform.inputEmail.$touched && contactform.inputEmail.$invalid) || (submitted && contactform.inputEmail.$invalid)" class="validation-error">Please fill in with your email<span>
        </div>
      </div>
    </div>
    <div class="row">
        <div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon"></span>
            <textarea ng-model="formData.inputMessage" type="text" rows="6" placeholder="Message" class="form-control" name= "inputMessage" required></textarea>
            <span ng-show="(contactform.inputMessage.$touched && contactform.inputMessage.$invalid) || (submitted && contactform.inputMessage.$invalid)" class="validation-error">Please fill in with your message<span>
        </div>
      </div>
    </div>
    <div class="row floatRight">
      <div>
          <div  class="floatRight input-group input-group-lg">
            <button type="button" ng-click="submit(contactform)" class="btn btn-info contact-send" ng-disabled="submitButtonDisabled">Enviar</button>
          </div>
      </div>
    </div>
  </form>
  <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
</div>