<div class="center-content get-in-touch">
  <h1>GET IN TOUCH</h1>
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>
          <form action="" name"contactForm" class="form-horizontal">
            <div class="form-group">
              <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="Your name ..." name="name" ng-model="contactModel.name"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="text" class="col-xs-12 form-control" placeholder="Your email ..." name="emailFrom" ng-model="contactModel.emailFrom"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <textarea type="text" class="col-xs-12 form-control" placeholder="Your message ..." rows="6" name="content" ng-model="contactModel.content"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="button" class="btn btn-lg" ng-click="sendEmail()" value="SEND"/>
              </div>
            </div>
          </form>
        </li>
        <li>
          <section class="ss-icon">
            <div class="icon-container">
              <a href="#"><article><span>facebook</span></article></a>
              <a href="#"><article><span>twitter</span></article></a>
              <a href="#"><article><span>linkedin</span></article></a>
            </div>
          </section>
        </li>
      </ul>
    </div>
  </div>
</div>