<div class="content">
  <div class="col-sm-4 home-left ">
    <div class="menu">
      <div >
        <h1>Nicolas Fetter</h1>
        <p class="subtitle">Software Engineer - Enterpreneur - Web developer</p>
        <p class="center-footer">contact@nicofetter.com</p>
      </div>
      <div>
        <span>HOME</span>
      </div>
      <div>
        <span>PORTFOLIO</span>
      </div>
      <div>
        <span>RESUME</span>
      </div>
      <div>
        <span>ABOUT ME</span>
      </div>
      <div>
        <span>GET IN TOUCH</span>
      </div>
    </div>
  </div>
  <div class="col-sm-8 home-right"></div>
</div>
