<div id="wrapper">
  <div id="bg"></div>
  <div id="overlay"></div>
  <div id="main">
  </div>
</div>
<header id="header">
  <h1>Nicolas Fetter</h1>
  <p>Software Engineer &nbsp;&bull;&nbsp; Web Developer &nbsp;&bull;&nbsp; Enterpreneur</p>
  <nav>
    <ul>
      <li><a href="http://facebook.com/nicomfe" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://twitter.com/nicofetter" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="http://linkedin.com/in/nicofetter" target="_blank" class="icon fa-linkedin-square"><span class="label">Linkedin</span></a></li>
      <li><a href="" class="icon fa-envelope-o" data-toggle="modal" data-target="#contactModal"><span class="label">Email</span></a></li>
    </ul>
  </nav>
</header>
<div id="container" class="container">
  <ul id="scene" class="scene">
    <li class="layer" data-depth="1.00"><img src="images/layer1.png"></li>
    <li class="layer" data-depth="0.80"><img src="images/layer2.png"></li>
    <li class="layer" data-depth="0.60"><img src="images/layer3.png"></li>
    <li class="layer" data-depth="0.40"><img src="images/layer4.png"></li>
    <li class="layer" data-depth="0.20"><img src="images/layer5.png"></li>
    <li class="layer" data-depth="0.00"><img src="images/layer6.png"></li>
  </ul>
  <footer id="footer">
    <span class="copyright">&copy; All Rights Reserved 2015 - Nicolas Fetter</span>
  </footer>
</div>
<script src="scripts/parallax.js"></script>
<script>
  var scene = document.getElementById('scene');
  var parallax = new Parallax(scene);
</script>

<!-- Modal -->

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="contactModal modal-dialog-contact">
    <div class="modal-content-contact">
      <div class="modal-body-contact">
        <div class="col-md-10 col-sm-10">

          <div class="row">
            <h1 class="headerSection" id="myModalLabel">Get in touch</h1>
             <button type="button" class="floatRight close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>

          <div class="row">
            <div ng-include src="'views/modals/contact.html'"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>